<a href="https://colab.research.google.com/github/aicharya/PyStatsLi/blob/master/Intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/aicharya/PyStatsLi.git

Cloning into 'PyStatsLi'...
remote: Enumerating objects: 10, done.
remote: Counting objects: 100% (10/10), done.
remote: Compressing objects: 100% (8/8), done.
remote: Total 10 (delta 1), reused 3 (delta 0), pack-reused 0
Unpacking objects: 100% (10/10), done.

In [4]:
!ls PyStatsLi

Intro.ipynb  Planets.csv  README.md

In [7]:
import os
os.listdir("./PyStatsLi")

['Planets.csv', '.git', 'Intro.ipynb', 'README.md']

In [8]:
import pandas as pd
planets = pd.read_csv("./PyStatsLi/Planets.csv")
planets

                       MERCURY     Unnamed: 1  ...  Unnamed: 12  Unnamed: 13
0               Mass (10^24 kg)          0.33  ...          NaN          NaN
1                 Diameter (km)          4879  ...          NaN          NaN
2         Length of Day (hours)        4222.6  ...          NaN          NaN
3    Distance from Sun (106 km)          57.9  ...          NaN          NaN
4         Orbital Period (days)            88  ...          NaN          NaN
5       Orbital Velocity (km/s)          47.4  ...          NaN          NaN
6          Mean Temperature (C)           167  ...          NaN          NaN
7       Surface Pressure (bars)             0  ...          NaN          NaN
8               Number of Moons             0  ...          NaN          NaN
9                  Ring System?            No  ...          NaN          NaN
10       Global Magnetic Field?           Yes  ...          NaN          NaN
11           Day of first visit     29-Mar-74  ...          NaN          NaN
12     First successful mission    Mariner 10  ...          NaN          NaN
13                          NaN           NaN  ...          NaN          NaN
14                       VENUS            NaN  ...          NaN          NaN
15              Mass (10^24 kg)          4.87  ...          NaN          NaN
16                Diameter (km)        12,104  ...          NaN          NaN
17        Length of Day (hours)          2802  ...          NaN          NaN
18   Distance from Sun (106 km)         108.2  ...          NaN          NaN
19        Orbital Period (days)         224.7  ...          NaN          NaN
20      Orbital Velocity (km/s)            35  ...          NaN          NaN
21         Mean Temperature (C)           464  ...          NaN          NaN
22      Surface Pressure (bars)            92  ...          NaN          NaN
23              Number of Moons             0  ...          NaN          NaN
24                 Ring System?            No  ...          NaN          NaN
25       Global Magnetic Field?            No  ...          NaN          NaN
26           Day of first visit     27-Aug-62  ...          NaN          NaN
27     First successful mission     Mariner 2  ...          NaN          NaN
28                          NaN           NaN  ...          NaN          NaN
29                       EARTH            NaN  ...          NaN          NaN
..                          ...           ...  ...          ...          ...
118                         NaN           NaN  ...          NaN          NaN
119                    NEPTUNE            NaN  ...          NaN          NaN
120             Mass (10^24 kg)           102  ...          NaN          NaN
121               Diameter (km)        49,528  ...          NaN          NaN
122       Length of Day (hours)          16.1  ...          NaN          NaN
123  Distance from Sun (106 km)        4495.1  ...          NaN          NaN
124       Orbital Period (days)        59,800  ...          NaN          NaN
125     Orbital Velocity (km/s)           5.4  ...          NaN          NaN
126        Mean Temperature (C)          -200  ...          NaN          NaN
127     Surface Pressure (bars)      Unknown*  ...          NaN          NaN
128             Number of Moons            14  ...          NaN          NaN
129                Ring System?           Yes  ...          NaN          NaN
130      Global Magnetic Field?           Yes  ...          NaN          NaN
131          Day of first visit     25-Aug-89  ...          NaN          NaN
132    First successful mission     Voyager 2  ...          NaN          NaN
133                         NaN           NaN  ...          NaN          NaN
134                       PLUTO           NaN  ...          NaN          NaN
135             Mass (10^24 kg)        0.0146  ...          NaN          NaN
136               Diameter (km)          2370  ...          NaN          NaN
137       Length of Day (hours)         153.3  ...          NaN          NaN
138  Distance from Sun (106 km)        5906.4  ...          NaN          NaN
139       Orbital Period (days)        90,560  ...          NaN          NaN
140     Orbital Velocity (km/s)           4.7  ...          NaN          NaN
141        Mean Temperature (C)          -225  ...          NaN          NaN
142     Surface Pressure (bars)       0.00001  ...          NaN          NaN
143             Number of Moons             5  ...          NaN          NaN
144                Ring System?            No  ...          NaN          NaN
145      Global Magnetic Field?       Unknown  ...          NaN          NaN
146          Day of first visit     14-Jul-15  ...          NaN          NaN
147    First successful mission  New Horizons  ...          NaN          NaN

[148 rows x 14 columns]