<a href="https://colab.research.google.com/github/aicharya/PyStatsLi/blob/master/Intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!rm -rf ./PyStatsLi

In [30]:
!git clone https://github.com/aicharya/PyStatsLi.git

Cloning into 'PyStatsLi'...
remote: Enumerating objects: 18, done.
remote: Counting objects: 100% (18/18), done.
remote: Compressing objects: 100% (16/16), done.
remote: Total 18 (delta 1), reused 8 (delta 0), pack-reused 0
Unpacking objects: 100% (18/18), done.

In [31]:
!ls PyStatsLi

Intro.ipynb  Planets.csv  README.md

In [32]:
import os
os.listdir("./PyStatsLi")

['Planets.csv', '.git', 'Intro.ipynb', 'README.md']

In [33]:
import pandas as pd
planets = pd.read_csv("./PyStatsLi/Planets.csv")
planets

    Planet       Mass Diameter  ...  MagneticField  FirstVisited  FirstMission
0  MERCURY     0.3300     4879  ...            Yes    1974-03-29    Mariner 10
1    VENUS     4.8700   12,104  ...             No    1962-08-27     Mariner 2
2    EARTH     5.9700   12,756  ...            Yes           NaN           NaN
3     MOON     0.0730     3475  ...             No    1959-09-12        Luna 2
4     MARS     0.6420     6792  ...             No    1965-07-15     Mariner 4
5  JUPITER  1898.0000  142,984  ...            Yes    1973-12-04    Pioneer 10
6   SATURN   568.0000  120,536  ...            Yes    1979-09-01    Pioneer 11
7   URANUS    86.8000   51,118  ...            Yes    1986-01-24     Voyager 2
8  NEPTUNE   102.0000   49,528  ...            Yes    1989-08-25     Voyager 2
9    PLUTO     0.0146     2370  ...            NaN    2015-07-14  New Horizons

[10 rows x 14 columns]

In [34]:
!cat ./PyStatsLi/Planets.csv

ï»¿Planet,Mass,Diameter,DayLength,SunDistance,OrbitPeriod,OrbitVelocity,MeanTemperature,SurfacePressure,Moons,Rings,MagneticField,FirstVisited,FirstMission
MERCURY,0.33,4879,4222.6,57.9,88,47.4,167,0,0,No,Yes,1974-03-29,Mariner 10
VENUS,4.87,"12,104",2802,108.2,224.7,35,464,92,0,No,No,1962-08-27,Mariner 2
EARTH,5.97,"12,756",24,149.6,365.2,29.8,15,1,1,No,Yes,NA,NA
MOON,0.073,3475,708.7,NA,27.3,1,-20,0,0,No,No,1959-09-12,Luna 2
MARS,0.642,6792,24.7,227.9,687,24.1,-65,0.01,2,No,No,1965-07-15,Mariner 4
JUPITER,1898,"142,984",9.9,778.6,4331,13.1,-110,NA,67,Yes,Yes,1973-12-04,Pioneer 10
SATURN,568,"120,536",10.7,1433.5,"10,747",9.7,-140,NA,62,Yes,Yes,1979-09-01,Pioneer 11
URANUS,86.8,"51,118",17.2,2872.5,"30,589",6.8,-195,NA,27,Yes,Yes,1986-01-24,Voyager 2
NEPTUNE,102,"49,528",16.1,4495.1,"59,800",5.4,-200,NA,14,Yes,Yes,1989-08-25,Voyager 2
PLUTO,0.0146,2370,153.3,5906.4,"90,560",4.7,-225,0.00001,5,No,NA,2015-07-14,New Horizons